@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    outline: 0;
}
:root {
    scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.customScroll::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50rem;
}
.customScroll::-webkit-scrollbar {
    background: rgb(24, 24, 24);
}
.customScrollHistorico::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 50rem;
}
.customScrollHistorico::-webkit-scrollbar {
    background: white;
}
.gradienteSombra {
    background: linear-gradient(to bottom, black, transparent 50%, black);
}
.gradienteBgInicio {
    background: linear-gradient(to right, black, rgb(36, 36, 36));
}

.navBar {
    .link {
        @apply justify-center items-center relative gap-1 text-white transition-all duration-200 
        hover:text-yellow-400 min-[1500px]:text-2xl
    }
    .linkLine {
        @apply before:content-[''] before:absolute 
        before:bg-black before:w-0 before:h-0.75 
        before:bottom-px before:transition-all 
        before:duration-300 before:ease-in-out 
        hover:before:bg-yellow-400
        hover:before:w-full
    }
    .linkPerfil {
        @apply flex justify-start items-center w-full gap-3 text-sm
    }
    .linePerfil {
        @apply h-px bg-zinc-800 w-[calc(100%+16px)] border-none
    }
    .iconMobile {
        @apply text-sm
    }
}
.mainHome {
    .container {
        @apply justify-center items-start flex-col h-full max-w-[50%] px-10 gap-8 text-white z-10
        min-[1500px]:gap-10 min-[1500px]:px-30
    }
    .btn {
        @apply flex justify-center items-center w-fit p-3 gap-2 rounded-[.6vw] bg-amber-400 
        text-xs text-black cursor-pointer transition-all duration-300 
        hover:brightness-[.7] sm:text-base min-[1500px]:p-6! min-[1500px]:text-2xl!
    }
    .icon {
        @apply flex justify-center items-center p-3 aspect-square rounded-full bg-black 
        border-2 border-white text-xl transition-all duration-200 hover:border-amber-400 
        hover:text-amber-400 sm:text-3xl sm:border-3 min-[1500px]:p-5! min-[1500px]:text-3xl!;
        i {
            @apply flex justify-center items-center h-full aspect-square
        }
    }
}
.mainTransacoes {
    .boxNavbar {
        @apply flex justify-center items-center flex-col w-full gap-1
    }
    .dropdown {
        @apply flex justify-between items-center w-full py-3 px-5 transition-all duration-200 rounded-full cursor-pointer
    }
    .boxBtn {
        @apply flex justify-between items-center flex-col w-full gap-2 md:flex-row;
        .btn {
            @apply w-full p-4 bg-black text-white rounded-md cursor-pointer md:w-fit xl:p-6 xl:text-2xl
        }
    }
}
.mainRoleta {   
    .roleta {
        background: conic-gradient(
        rgb(0, 128, 64) 0deg 36deg,
        rgb(226, 0, 0) 36deg 72deg,
        black 72deg 108deg,
        rgb(226, 0, 0) 108deg 144deg,
        black 144deg 180deg,
        rgb(226, 0, 0) 180deg 216deg,
        black 216deg 252deg,
        rgb(226, 0, 0) 252deg 288deg,
        black 288deg 324deg,
        rgb(226, 0, 0) 324deg 360deg
        );
    }
    .roleta span {
        background: conic-gradient(
            red 0deg 60deg,
            black 60deg 120deg,
            red 120deg 180deg,
            black 180deg 240deg,
            red 240deg 300deg,
            black 300deg 360deg
        );
    }
    .btn {
        @apply p-3 text-white rounded-sm cursor-pointer transition-all duration-200 hover:brightness-[.8]
    }
}
.containerHistorico {
    @apply grid justify-start content-start grid-cols-1 h-full w-full gap-5 overflow-auto
    md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 xl:text-lg 2xl:text-xl
}